{{#each}}
	<div class="row">
	<p> {{ name }} </p>

	<div class="col-md-5">
		<img {{ bindAttr src="videoUrl"}}>
	</div>
	<div class="col-md-7">
		<p> {{ description }} </p>
		<p> Contact us at: {{ telephone }} </p>
	</div>
	</div>
{{/each}}